html {
    font-size: 22px;
    background-color: beige;
}

h1{
    text-align: center;
    color: coral;
    font-family: monospace;

}


th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}
a{
    text-decoration: none;
    color: #333;
}