*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    background-image: linear-gradient(#d58b01,orange,  rgb(255, 202, 104));
}

body{
    background-image: url(/taco/img/BG.final.png);
    background-size: 40%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;;
    display: flex;
    flex-flow: column nowrap;
}

header{
    position: sticky;
    top: 0;
}


h1{
    background-color: rgba(1, 2, 67, 0.901);
    color: whitesmoke;
    padding: 1rem;
    text-align: center;
}

nav ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgba(250, 235, 215, 0.873);
}

li a{
    text-decoration: none;
    color: rgb (1,2,67);
    font-size: 1.2rem;
}

.nav_img{
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 650px 1fr;
    grid-template-rows: 190px 190px;
    gap: 15px;
    margin: 20px;
}

#taco_1{
    background-image: url(/taco/img/taco.1.jpeg);
    background-size: cover;
    background-position: center;
    border: transparent;
    border-radius: 25px;
    grid-row:1/3 ;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.817);
}

#taco_2{
    background-image: url(/taco/img/taco.2.jpeg);
    background-size: cover;
    background-position: center;
    border: transparent;
    border-radius: 25px;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.817);
}

#taco_3{
    background-image: url(/taco/img/taco.3.jpeg);
    background-size: cover;
    background-position: center;
    border: transparent;
    border-radius: 25px;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.817);
}

footer{
    background-color: rgba(1, 2, 67, 0.901);
    color: whitesmoke;
    padding: 0.75rem 0.5rem; 
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 32vw;
    position: sticky;
    bottom: 0;
}

.menu{
    border: 2px solid red;
}


footer a{
    color: white;
    text-decoration: none;
}









