html{
    padding: 5% 25%;
}

body{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding:  0 2rem;
}

table{
}

td, th, table caption {
    border: 1px solid black;
    padding: .5rem;
}